/*
css; all about property: value pairs.
we want to change html properties
in order to style with css.

inline styles allows html elements to be 
css styled within their tag/style attribute.

font-size - sets the font size; e.g. px - pixels
color - changes the text color
background-color - sets the background color
text-align - aligns text to left, center or right
hex - hexadecimal values #7ab0fb
rgb - red green blue rgb(0, 0, 0)
hsl - hue, saturation, lightness hsl(100, 200%, 300%)
*/
#form-heading{
    color:brown;
}

.smaller-image{
    width:100px;
}
#thin-black-container{
    border:solid black 2px;
}
/*border radius rounds the border of an border */
/*can use percentages to round images and division elements*/

.thick-gold-border{
    border-color:gold;
    border-width:10px;
    border-style:solid;
    /* border-radius:50% */
    border-radius: 10px;
}
.cat-image{
    border-radius:50%;
}

h2{
    font-family: Lobster, sans-serif;
}





