#header-style{
    color:khaki;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    /*border created as a marker */
    border: solid red 5px;
    background-image: url('./pattern1.jpeg');
}

#brushes-style h1{
    background-color: mediumspringgreen;
    border: solid red 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#brushes-style h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#brushes-style a{
    color:blue;
    text-decoration: none;
}

#frames-style h1{
    background-color: lightcoral;
    border: solid mediumspringgreen 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#frames-style h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#frames-style a{
    color:blue;
    text-decoration: none;
}



#paint-style h1{
    background-color: skyblue;
    border: solid red 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#paint-style h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#paint-style a{
    color:blue;
    text-decoration: none;
}



